<script setup lang="ts">
import { ref } from 'vue';
const v = ref(300);
</script>

<template>
  <div>
    <CSlider
      class="my-slider"
      v-model:value="v"
      :max="450"
      :min="200"
      :steps="50"
      :marks="true"
    >
      <!--       <template #thumb>
        <span
          style="
            display: block;
            width: 15px;
            height: 15px;
            background-color: red;
          "
        ></span>
      </template> -->
    </CSlider>
    <p>当前进度: {{ v }}</p>
    <button @click="v++">+</button>
  </div>
</template>

<style scoped lang="scss">
.my-slider {
  width: 300px;
}
</style>
