@use './mixins/mixins.scss' as *;

@keyframes transform {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@include b(icon) {
    width: 1em;
    height: 1em;
    line-height: 1em;
    display: inline-flex;
    vertical-align: middle;

    svg.loading {
        animation: transform 1s linear infinite;
    }
}