@use './mixins/mixins.scss' as *;

@keyframes transform {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@include b(slider) {
    --c-fill-color: #18a058;
    --c-fil-color-hover: #18a058;
    --c-handle-color: #fff;
    --c-handle-size: 16px;
    --c-handle-border: 1px solid #999;
    --c-handle-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), inset 0 0 1px 0 rgba(0, 0, 0, 0.05);
    --c-handle-box-shadow-active: 0 1px 4px 0 rgba(0, 0, 0, 0.3), inset 0 0 1px 0 rgba(0, 0, 0, 0.05);
    --c-handle-box-shadow-focus: 0 1px 4px 0 rgba(0, 0, 0, 0.3), inset 0 0 1px 0 rgba(0, 0, 0, 0.05);
    --c-handle-box-shadow-hover: 0 1px 4px 0 rgba(0, 0, 0, 0.4), inset 0 0 1px 0 rgba(0, 0, 0, 0.1);
    --c-rail-color: rgb(219, 219, 223);
    --c-rail-height: 6px;
    --c-rail-border-radius: 4px;
    --c-rail-color-hover: rgb(219, 219, 223);
    --c-rail-mark-width: 10px;
    --c-rail-mark-height: var(--c-rail-mark-width);
    --c-rail-mark-color: #fff;
    --c-rail-mark-border: var(--c-handle-border);
    --c-rail-mark-font-size: var(--c-font-size-normal);
    position: relative;
    @include flex-center();
    height: var(--c-handle-size);
    cursor: pointer;

    @include m(withmark) {
        margin-bottom: calc(2.5 * var(--c-rail-mark-font-size));
    }

    @include when(disabled) {
        opacity: .6;
        cursor: no-drop;
    }

    &-rail {
        position: relative;
        width: 100%;
        height: var(--c-rail-height);
        background: var(--c-rail-color);
        border-radius: var(--c-rail-border-radius);
        overflow: hidden;

        @include e(fill) {
            width: 100%;
            height: 100%;
            background: var(--c-fill-color);
        }
    }

    &-handle {
        width: var(--c-handle-size);
        height: var(--c-handle-size);
        background: var(--c-handle-color);
        border-radius: 50%;
        box-shadow: var(--c-handle-box-shadow);
        cursor: inherit;

        &-wrapper {
            z-index: 2;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);

            &:hover {
                .slider-handle {
                    box-shadow: var(--c-handle-box-shadow-hover);
                }
            }
        }

        @include e(track) {
            position: absolute;
            top: 0;
            right: calc(var(--c-handle-size) / 2);
            bottom: 0;
            left: calc(var(--c-handle-size) / 2);
        }

        @include e(marks) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        @include e(mark) {
            z-index: 2;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: var(--c-rail-mark-width);
            height: var(--c-rail-mark-width);
            background: var(--c-rail-mark-color);
            border: var(--c-rail-mark-border);
            border-radius: 50%;
            box-sizing: border-box;

            &.active {
                border: 2px solid var(--c-fill-color);
            }

            span {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: calc(-2.5 * var(--c-rail-mark-font-size));
            }
        }
    }

    &-tip {
        // opacity: 0;
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%, -100%);
        padding: 0 calc(var(--c-font-size-normal) / 2);
        font-size: var(--c-font-size-normal);
        line-height: calc(var(--c-font-size-normal) * 2.5);
        background: #262626;
        color: #fff;
        border-radius: 6px;
        transition: opacity ease .2s;
    }
}