$namespace: 'c';
$element-separator: '__'; // 元素连接符
$modifier-separator: '--'; // 修饰符连接符
$state-prefix: 'is-'; // 状态连接符

* {
    box-sizing: border-box;
}

:root {
    --c-font-size-normal: 14px;
}

body {
    font-size: var(--c-font-size-normal);
}