@use 'config' as *;
@forward 'config';

// c-icon
@mixin b($block) {
    $B: #{$namespace}-#{$block};

    .#{$B} {
        @content;
    }
}

// c-icon__header
@mixin e($element) {
    @at-root {
        #{& + $element-separator + $element} {
            @content;
        }
    }
}

// .c-icon--primary
@mixin m($modifier) {
    @at-root {
        #{& + $modifier-separator + $modifier} {
            @content;
        }
    }
}

// c-icon.is-xxx
@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}


@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}