<template>
  <i :class="bem.b()" :style="style">
    <slot></slot>
  </i>
</template>

<script lang="ts" setup>
import { computed, CSSProperties } from 'vue';
import { createNamespace } from '@c-ui/utils/createClassName';
import { iconProps } from './icon';
const bem = createNamespace('icon');

defineOptions({
  name: 'CIcon',
});

const props = defineProps(iconProps);

const style = computed<CSSProperties>(() => {
  if (!props.color && !props.size) {
    return {};
  }
  return {
    ...(props.size
      ? {
          'font-size':
            typeof props.size === 'string' ? props.size : props.size + 'px',
        }
      : {}),
    ...(props.color ? { color: props.color } : {}),
  };
});
</script>
