<template>
  <div
    :class="[
      bem.b(),
      props.marks ? bem.m('withmark') : '',
      bem.is('disabled', disabled),
    ]"
    @click.stop.prevent="onSliderClick($event)"
    @mouseover="isShowTip = true"
    @mouseleave="isShowTip = false"
    ref="sliderNode"
  >
    <div :class="bem.b('rail')">
      <div
        :class="bem.be('rail', 'fill')"
        :style="{ width: dragData.percnt + '%' }"
      ></div>
    </div>
    <div :class="bem.be('handle', 'track')">
      <div :class="bem.be('handle', 'marks')" v-if="props.marks">
        <div
          v-for="(v, i) in (marks as object)"
          :class="[bem.be('handle', 'mark'), v < intV ? 'active' : '']"
          :style="{ left: v / mult + '%' }"
        >
          <span>
            {{ typeof props.marks === 'object' ? props.marks[v] : v + min }}
          </span>
        </div>
      </div>
      <div
        :class="bem.b('handle-wrapper')"
        @mousedown.stop.prevent="dragStart($event)"
        @click.stop
        :style="{
          left: dragData.percnt + '%',
        }"
        ref="sliderHandleNode"
      >
        <slot name="thumb">
          <div :class="bem.b('handle')"></div>
        </slot>
        <span
          :class="bem.b('tip')"
          v-if="tip"
          :style="{ opacity: Number(isShowTip) }"
        >
          {{ intV + min }}
        </span>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, CSSProperties, onMounted, reactive, ref, watch } from 'vue';
import { createNamespace } from '@c-ui/utils/createClassName';
import { sliderProps } from './slider';

// BEM命名
const bem = createNamespace('slider');

// 组件名
defineOptions({
  name: 'CSlider',
});

const props = defineProps(sliderProps);
const emit = defineEmits([
  'touchstart',
  'touching',
  'touchend',
  'change',
  'update:value',
]);

const sliderNode = ref();
const sliderHandleNode = ref();

const {
  defaultValue,
  value,
  max = 100,
  min = 0,
  tip,
  disabled = false,
} = props;

const calc = computed<number>(() => max - min);
const mult = computed<number>(() => calc.value / 100);
const intV = computed<number>(() => {
  return Math.round(dragData.percnt * mult.value);
});

// 步长数组，一个按百分比划分的数组
const steps = reactive<number[]>([]);
// 标记
const marks = reactive({});
// 是否显示标记
const isShowTip = ref<boolean>(false);

const stepsLong = computed<number[]>(() => {
  return steps.length ? steps.map((v) => v * dragData.maxMoveLong) : [];
});

interface DragData {
  maxMoveLong: number;
  moveLong: number;
  percnt: number;
}
const dragData = reactive<DragData>({
  maxMoveLong: 0,
  moveLong: 0,
  percnt: ((value ? value : defaultValue || min) - min) / mult.value, // 带小数的当前进度比例,
});

watch(
  () => props.value,
  (pv) => {
    if (pv && pv >= min && pv <= max) dragData.percnt = (pv - min) / mult.value;
  },
);
watch(
  () => dragData.percnt,
  () => {
    emit('update:value', intV.value + min);
  },
);

onMounted(() => {
  // 初始化容器信息
  initDomData();

  // 初始化步长数组
  if (typeof props.steps === 'number') {
    steps.push(0);
    for (let i = 1; i <= Math.floor(calc.value / props.steps); i++) {
      steps.push(Number((i / (calc.value / props.steps)).toFixed(3)));
    }
    steps.push(1);
  } else if (props.steps instanceof Array) {
    props.steps.forEach((v) => {
      steps.push(v / calc.value);
    });
  }

  // 初始化标记
  if (typeof props.marks === 'boolean') {
    steps.forEach((ele) => {
      marks[ele * calc.value] = Math.round(ele * calc.value);
    });
  } else if (typeof props.marks === 'object') {
    for (let i in props.marks) {
      // 扩容步长数组
      steps.push(parseInt(i) / calc.value);
      marks[i] = i;
    }
    steps.sort((a, b) => a - b);
  }
});

const dragStart = (ev: MouseEvent) => {
  if (disabled) return;

  // 判断点击左键
  if (ev.button !== 0) return;
  emit('touchstart', ev);

  const handleOffsetX: number = ev.offsetX;
  const { left: sliderOffL } = sliderNode.value.getBoundingClientRect();

  document.onmousemove = (e) => {
    e.preventDefault();

    // 再减去slider距离可视区域左侧的距离即为最终移动距离
    dragData.moveLong = e.clientX - sliderOffL - handleOffsetX;

    setPos();
    emit('touching', intV.value);
  };
  document.onmouseup = () => {
    document.onmousemove = null;
    document.onmouseup = null;

    emit('touchend', intV.value);
    emit('change', intV.value);
  };
};

const onSliderClick = (e: MouseEvent) => {
  if (disabled) return;
  const { left } = sliderNode.value.getBoundingClientRect();
  dragData.moveLong =
    e.clientX - left - sliderHandleNode.value.getBoundingClientRect().width / 2;
  setPos();
  emit('change', intV.value);
};

const initDomData = () => {
  const { width: handleW } = sliderHandleNode.value.getBoundingClientRect();
  const { width: sliderW } = sliderNode.value.getBoundingClientRect();
  dragData.maxMoveLong = sliderW - handleW;
};

const setPos = () => {
  if (disabled) return;
  // 越界限制
  if (dragData.moveLong < 0) {
    dragData.moveLong = 0;
  } else if (dragData.moveLong > dragData.maxMoveLong) {
    dragData.moveLong = dragData.maxMoveLong;
  }

  // 如果定义了步长
  if (stepsLong.value.length) {
    // 如果已经在最小区间,直接变为0
    if (dragData.moveLong < stepsLong.value[1] / 2) {
      dragData.percnt = 0;
    } else {
      // 判断在哪个区间，超过该区间一半时跳到下一区间开始
      for (let i = 0; i < stepsLong.value.length - 1; i++) {
        if (
          dragData.moveLong >=
          stepsLong.value[i] + (stepsLong.value[i + 1] - stepsLong.value[i]) / 2
        ) {
          dragData.percnt = steps[i + 1] * 100;
        }
      }
    }
  } else {
    // 没有定义步长的话直接返回当前状态就行
    dragData.percnt = (dragData.moveLong / dragData.maxMoveLong) * 100;
  }
};
</script>
