<template>
  <CSlider :value="30">
    <template #thumb>
      <span class="thumb"></span>
    </template>
  </CSlider>
</template>

<style lang="scss">
.thumb {
  display: block;
  width: 15px;
  height: 25px;
  background-color: var(--c-fill-color);
  border-radius: 3px;
}
</style>
