<template>
  <CSlider :value="350" :max="600" :min="200" :steps="150" :marks="true" />

  <CSlider :max="600" :steps="[0, 110, 340, 480, 600]" :marks="true" />
</template>

<script lang="ts" setup></script>

<style scoped lang="scss"></style>
