<template>
  <CSlider :value="300" :max="600" :marks="marks" />
  <CSlider :max="600" :steps="150" :marks="marks2" />
</template>

<script lang="ts" setup>
import { reactive } from 'vue';
const marks = reactive({
  60: 'S',
  120: 'L',
  180: 'I',
  258: 'D',
  320: 'E',
  460: 'R',
});

const marks2 = reactive({
  0: 'C',
  60: 'S',
  120: 'L',
  258: 'I',
  320: 'D',
  460: 'E',
  600: 'R',
});
</script>

<style scoped lang="scss"></style>
