<template>
  <CSlider :max="600" :default-value="200" />
  <br />
  <CSlider :max="650" :min="400" :default-value="500" />
</template>

<script lang="ts" setup></script>

<style scoped lang="scss"></style>
