<template>
  <div class="my-slider">
    <CSlider v-model:value="value" />
    <div class="btns">
      <button @click="value++">+</button>
      <span>{{ value }}</span>
      <button @click="value--">-</button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

const value = ref(30);
</script>

<style scoped lang="scss">
.my-slider {
  width: 500px;
}

.btns {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
</style>
